@media (max-width: 1199px) {
  .social-menu-list {
    padding-left: 0px !important;
  }
  .first-menu-list > li {
    font-size: 12px !important;
    margin-right: 12px !important;
  }
  .second-navbar-list > li {
    font-size: 18px !important;
    margin-right: 18px !important;
  }
}
@media (max-width: 991px) {
  .first-menu {
    padding-right: 15px !important;
  }
  .navbar-logo {
    padding-left: 15px !important;
  }
  .first-menu-list {
    margin-top: 25px !important;
    margin-bottom: 25px;
    text-align: center;

    li {
      font-family: RobotoB !important;
      font-size: 14px !important;
    }
  }
  .second-navbar-list > li {
    font-size: 14px!important;
    margin-right: 12px!important;
  }
  .project-btn {
    font-size: 20px !important;
    padding: 0px 17px !important;
    margin-top: 81px !important;
    border: 1px solid #333 !important;
  }
  .social-menu-list {
    float: right;
  }
}
@media (max-width: 767px) {
  .social-menu-list {
    float: none;
    display: block !important;
    text-align: center;
  }
  .project-btn {
    float: none !important;
    margin: 0 auto;
    display: block;
    margin-top: 40px !important;
  }
  .social-menu-list {
    margin-top: 36px !important;
  }
  .navbar-toggle {
    float: none;
    margin: 8px auto;
    display: block;
    border-color: #333 !important;
  }
  .second-navigation-container {
    //border-top: 1px solid #e7e7e7 !important;
    //border-bottom: 1px solid #e7e7e7 !important;
  }
  .second-navbar-list-box {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .second-navbar-list {
    text-align: center;

    li {
      margin-right: 0px !important;
    }
  }
}
@media (max-width: 400px) {
  .first-header-search-date > a > {
    left: 65px !important;
    top: -3px !important;
  }
  .first-header-search-date {
    float: none !important;
    text-align: center !important;
  }
  .first-header-menu {
    float: none !important;
    text-align: center !important;
  }
  .first-header-menu-list {
    margin-top: 15px !important;
  }
  .first-menu-list {
    margin-top: 15px !important;
  }
}
@media (max-width: 380px) {
  .first-menu-list > li {
    font-size: 12px !important;
  }
  .first-header-search-date > a > {
    left: 52px !important;
  }
}
@media (max-width: 350px) {
  .first-menu-list > li {
    font-size: 10px !important;
  }
  .first-header-search-date > a > {
    left: 40px !important;
  }
}
@media (max-width: 330px) {
  .first-header-search-date > a > {
    left: 30px !important;
  }
}
@media (max-width: 310px) {
  .first-header-search-date > a > {
    left: 22px !important;
  }
  .social-menu-list > li {
    margin-right: 7px !important;
  }
  .social-menu-list-box {
    padding-right: 0px;
  }
  .project-btn-box {
    padding-left: 0px;
  }
}
@media (max-width: 300px) {
  .first-menu-list > li {
    font-size: 9px !important;
    margin-right: 10px!important;
  }
}
@media (max-width: 290px) {
  .first-header-search-date > a > {
    left: 15px !important;
  }
}
@media (max-width: 280px) {
  .first-header-search-date > a > {
    left: 10px !important;
  }
}